<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1"/>
		<title>Accenture Login</title>
		<link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
		<link href="./css/sb-admin.css" rel="stylesheet" />
	</head>
	<body class="bg-dark">
		<div class="container">
			<div class="card card-login mx-auto mt-5">
				<div class="card-header">Accenture</div>
					<div class="card-body">
						<form action="login" id="signin" method="POST">
							<div class="form-group">
								<div>
									<input type="text" name="username" id="username" class="form-control" placeholder="Username" autofocus="autofocus"/>
								</div>
							</div>
							<div class="form-group">
								<div>
									<input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
								</div>
							</div>
									<input type="submit" value="Sign In" class="btn btn-primary btn-block"/>
						</form>
	          <div class="text-center">
				<p style="color:red" th:text="${ERROR}"></p>
	          </div>
	        </div>
	      </div>
	    </div>
	    <script src="./vendor/jquery/jquery.min.js"></script>
	    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
	</body>
</html>
